/* color palette from <https://github.com/dracula/dracula-theme> */
:root {
  --dracular-c-background: #282a36;
  --dracular-c-current-line: #44475a;
  --dracular-c-white: #f8f8f2;
  --dracular-c-comment: #6272a4;
  --dracular-c-cyan: #8be9fd;
  --dracular-c-green: #50fa7b;
  --dracular-c-orange: #ffb86c;
  --dracular-c-pink: #ff79c6;
  --dracular-c-purple: #bd93f9;
  --dracular-c-red: #ff5555;
  --dracular-c-yellow: #f1fa8c;

}

/* semantic color variables for this project */
:root {
  --color-background: var(--dracular-c-background);

  --color-border: var(--dracular-c-comment);
  --color-border-hover: var(--dracular-c-current-line);

  --color-heading: var(--dracular-c-comment);
  --color-text: var(--dracular-c-comment);

  --section-gap: 160px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--dracular-c-background);

    --color-border: var(--dracular-c-comment);
    --color-border-hover: var(--dracular-c-current-line);

    --color-heading: var(--dracular-c-comment);
    --color-text: var(--dracular-c-white);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
